<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataBaseUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="LastDirForUnconverted" value="c:\" />
		<add key="LastDirForConverted" value="c:\temp"/>
		
	</appSettings>
 <userSettings>
  <DataBaseUtils.Properties.Settings>
   <setting name="DirForUnconverted" serializeAs="String">
    <value>c:\</value>
   </setting>
   <setting name="DirForConverted" serializeAs="String">
    <value>c:\temp</value>
   </setting>
   <setting name="DirForSourceOfFileToConcat" serializeAs="String">
    <value>.</value>
   </setting>
   <setting name="FileNameOutputConcat" serializeAs="String">
    <value>MySqlSchema</value>
   </setting>
   <setting name="FilesToBeCombined" serializeAs="String">
    <value />
   </setting>
  </DataBaseUtils.Properties.Settings>
 </userSettings>
</configuration>